@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-heading: hsla(0, 0%, 100%, 0.6);
    --ff-h1: 'Inter';
    --ff-p: 'Lexend Deca';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--main-background);
    padding: 40px;
}
h1, 
h2 {
    font-size: 2rem;
    font-family: var(--ff-h1);
}
p {
    font-size: 1rem;
    font-family: var(--ff-p);
    line-height: 30px;
}
.container {
    max-width: 1100px;
    height: auto;
    display: flex;
    background-color: var(--card-background);
    border-radius: 10px;
    overflow: hidden;
    color: white;
}
.left {
    display: grid;
    width: 600px;
    gap: 1rem;
    padding: 5rem;
    margin-right: 4rem;
}
.flex-group {
    display: flex;
    justify-content: space-between;
}

.right {
    background-color: hsl(277, 73%, 38%);
}
img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.gray {
    color: var(--Slightly-transparent-white-heading);
}
.purple {
    color: var(--Soft-violet);
}
.card-title {
    font-weight: 900;
}
.card-body {
    margin-bottom: 2rem;
}
@media (max-width: 1100px) {
    body {
        height: 100%;
    }
    .container {
        width: 100%;
        flex-direction: column-reverse;
    }
    .left {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
    .flex-group {
        flex-direction: column;
        gap: 1rem;
    }
}